.app-container {
  padding: 20px;
  background-color: #f5f5f5;
  font-family: "Roboto";
}

.app-title {
  font-weight: bold;
  font-size: 2rem;
}

.main-layout {
  display: flex;
  gap: 20px;
}

.sidebar, .node-list, .node-details {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
  width: 20%;
}

.node-list {
  width: 30%;
}

.node-details {
  width: 50%;
}
.app-logo{
  height: 70px;
  padding-right: 15px;
}